<div class="md-padding">
	<input placeholder="Buscar..." 
	type="text" style="padding: 6px; font-size: 16px; color: rgb(102, 102, 102);" 
	name="search_text" 
	ng-model="ctrl.search" maxlength="50" autofocus="" 
	ng-keyup="ctrl.search_musica(ctrl.search, 0)"/> <span class="md-caption">Total: {{ctrl.pagination.total}}</span>
	<br><br>
	
    
	<table width="100%" style="font-size: 13px;">
		<tr>
			<th>#</th>
			<th>Tema</th>
			<th>Intérprete</th>
			<th>Álbum</th>
		</tr>
		<tr ng-repeat="p in ctrl.listado">
			<td align="center">{{$index+1}}.</td>
			<td>{{p.titulo}} - {{p.tipo_tema_nombre}}</td>
			<td>{{p.grupo_interprete}}</td>
			<td>{{p.album_nombre}}</td>
		</tr>
	</table>
	<br>
	
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>