<div class="box">
    <!-- Content Navbar -->
    <md-toolbar class="navbar no-radius md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="aside_folder();" hide-sm hide-xs aria-label="Toggle Menu">
                <ng-md-icon icon="menu" aria-label="close"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu" ng-click="openAside()">
                <ng-md-icon icon="menu" aria-label="close"></ng-md-icon>
            </md-button>
            <div layout="row" flex class="fill-height">
                <h2 class="md-toolbar-item md-breadcrumb md-headline">
                    <span hide-xs>{{state.current.data.page}}</span>
                </h2>
                <span flex></span>
            </div>
        </div>
    </md-toolbar>
    <div class="box-row">
        <div class="box-cell">
            <div class="box-inner md-scroll-y flex" ui-view>
            </div>
        </div>
    </div>
</div>
