<md-card class="md-padding" style="margin: 0px; background: #99FFFF">
	<span class="md-title">APLICACIONES DISTRIBUIDAS</span>
	<span>UNIVERSIDAD PERUANA UNIÓN</span>
	<span>INGENIERÍA DE SISTEMAS</span>

	<br>
	<span class="md-caption">
		Querido alumno(a) bienvenido(a) al curso AngularJS<br><br>
		Lo que apenderás en Angularjs:
		<ul>
			<li>Instalación y configuración de Angularjs</li>
			<li>Gestionar paquetes basadas en AngularJS</li>
			<li>Creación de módulos AngularJS</li>
			<li>Controladores</li>
			<li>Directivas</li>
			<li>Factorys</li>
			<li>Microservicios</li>
		</ul>
		Lo que apenderás de Material:
		<ul>
			<li>Instalación y configuración de material</li>
			<li>Paletas de colores</li>
			<li>Componentes</li>
			<li>Formularios</li>
		</ul>
		Servicios REST (JSON):
		<ul>
			<li>Consumir servicios desde PHP, PYTHON</li>
			<li>Listado</li>
			<li>Métodos GET, POST, PUT, DELETE</li>
			<li>Reportes</li>
		</ul>
		Las páginas base que usaremos son:
		<ul>
			<li><a href="https://angularjs.org/" target="_blank">https://angularjs.org/</a></li>
			<li><a href="https://material.angularjs.org/" target="_blank">https://material.angularjs.org/</a></li>
			<li><a href="https://gitlab.com/cursos-sistemas/lpi-2019" target="_blank">https://gitlab.com/cursos-sistemas/lpi-2019</a></li>
			<li><a href="https://material.io/tools/icons/" target="_blank">https://material.io/tools/icons/</a></li>
		</ul>
		<br>
		Con aprecio,<br>
		Ing. Persy Quiroz<br>
		<em>persy.quiroz@upeu.edu.pe</em>
	</span>
</md-card>

