<md-dialog aria-label="a">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> grupo
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
       <div class="md-dialog-content">
       		<div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Código url</label>
                <input ng-model="form.obj.codigourl" name="codigourl" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
		        <md-input-container class="md-block" flex>
		            <label>Nombre</label>
		            <input ng-model="form.obj.nombre" required name="nombre" md-maxlength="120" minlength="3">
                <div ng-messages="myform.nombre.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                  <div ng-message="minlength">3 es el mínimo de caracteres</div>
                </div>
		        </md-input-container>
		        <md-input-container class="md-block" flex>
		            <label>Abreviatura</label>
		            <input ng-model="form.obj.abreviatura" required name="abreviatura" md-maxlength="20">
                <div ng-messages="myform.abreviatura.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
		        </md-input-container>
       		</div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Tipo de grupo</label>
                <md-select ng-model="form.obj.tipo_grupo_id" name="tipo_grupo_id" required>
                  <md-option ng-repeat="p in form.tiposgrupo" ng-value="p.id">{{p.nombre}}</md-option>
                </md-select>
                <div ng-messages="myform.tipo_grupo_id.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                </div>
            </md-input-container>
          </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()" 
       ng-disabled="!myform.$valid">
        <any ng-if="!form.obj.id">Registrar</any>
        <any ng-if="form.obj.id">Actualizar</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>