<md-dialog aria-label="a">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> Cliente
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
       <div class="md-dialog-content">
       		<div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Razon social</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
		        <md-input-container class="md-block" flex>
		            <label>Telefono</label>
		            <input ng-model="form.obj.telefono" required name="telefono" md-maxlength="20" minlength="3">
                <div ng-messages="myform.telefono.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                  <div ng-message="minlength">3 es el mínimo de caracteres</div>
                </div>
		        </md-input-container>
            
       		</div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Correo</label>
                <input ng-model="form.obj.correo" required name="correo" md-maxlength="40" minlength="3">
                <div ng-messages="myform.correo.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                  <div ng-message="minlength">3 es el mínimo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Dni O Ruc</label>
                <input ng-model="form.obj.dni_ruc" required name="dni_ruc" md-maxlength="10">
                <div ng-messages="myform.dni_ruc.$error" role="alert" multiple>
                  <div ng-message="required">Este campo es requerido</div>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
          
          </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()" 
       ng-disabled="!myform.$valid">
        <any ng-if="!form.obj.id">Registrar</any>
        <any ng-if="form.obj.id">Actualizar</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>