<table width="100%">
  <tbody><tr align="center">
    <td><table width="900px" height="450px" class="form-table-2">
      <tbody><tr>
        <td><table width="100%" class="form-table-2">
          <tbody><tr>
            <td>
				<div id="factura.ruc.show" style="">
					<table width="100%">
		              <tbody><tr>
		                <!--<td width="23%" align="left">RUC</td>-->
		                <td width="23%" align="left">Número de documento</td>		                
		                <td width="1%">:</td>
		                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox dijitTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.numeroDocumento" role="presentation" widgetid="factura.numeroDocumento" style="font-size: 13px; width: 150px;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="numeroDocumento" type="text" tabindex="-1" id="factura.numeroDocumento" maxlength="11" disabled="" aria-disabled="true" value="" aria-invalid="false"></div></div></td>
		              </tr>
		              <tr>
		                <td width="23%" align="left">Razón Social </td>
		                <td>:</td>
		                <td align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.razonSocial" role="presentation" widgetid="factura.razonSocial" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="razonSocial" type="text" tabindex="-1" id="factura.razonSocial" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
		              </tr>
		            </tbody></table>
				</div>
		        <div id="factura.estabEmisor.show" style="display:none">
		            <table width="100%">
		              <tbody><tr>
		                <td width="23%" align="left">Establecimiento Emisor</td>
		                <td>:</td>
		                <td align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.establecimientoEmisor" role="presentation" widgetid="factura.establecimientoEmisor" style="font-size: 13px; width: 350px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="establecimientoEmisor" type="text" tabindex="-1" id="factura.establecimientoEmisor" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
		                <td><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.bntestablecimientoEmisor"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.bntestablecimientoEmisor_label" tabindex="0" id="factura.bntestablecimientoEmisor" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-category" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.bntestablecimientoEmisor_label" data-dojo-attach-point="containerNode">Registrar</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></td>
		              </tr>	
		            </tbody></table>
		        </div>	
		        <div id="factura.direccCliente.show" style="">
		            <table width="100%">
		              <tbody><tr>
		                <td width="23%" align="left">Direccion del Cliente</td>
		                <td>:</td>
		                <td align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.direccionCliente" role="presentation" widgetid="factura.direccionCliente" style="font-size: 13px; width: 350px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="direccionCliente" type="text" tabindex="-1" id="factura.direccionCliente" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
		                <td><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.bntdireccionCliente"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.bntdireccionCliente_label" tabindex="0" id="factura.bntdireccionCliente" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-category" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.bntdireccionCliente_label" data-dojo-attach-point="containerNode">Registrar</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></td>
		              </tr>	
		            </tbody></table>
		        </div>			        			
				<div id="factura.docsNoDomic.show" style="display:none">
					<table width="100%">
					  <tbody><tr>
		                <td width="23%" align="left">Tipo Documento</td>
		                <td width="1%">:</td>
		                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox dijitTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.tipoDocumentoNoDomic" role="presentation" widgetid="factura.tipoDocumentoNoDomic" style="font-size: 13px; width: 450px;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="tipoDocumentoNoDomic" type="text" tabindex="-1" id="factura.tipoDocumentoNoDomic" disabled="" aria-disabled="true" value="" aria-invalid="false"></div></div></td>
		              </tr>
		              <tr>
		                <td width="23%">Número de Documento</td>
		                <td width="1%">:</td>
		                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox dijitTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.numeroDocumentoNoDomic" role="presentation" widgetid="factura.numeroDocumentoNoDomic" style="font-size: 13px; width: 150px;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="numeroDocumentoNoDomic" type="text" tabindex="-1" id="factura.numeroDocumentoNoDomic" disabled="" aria-disabled="true" value="" aria-invalid="false"></div></div></td>
		              </tr>
		              <tr>
		                <td>Nombre o Razón Social </td>
		                <td>:</td>
		                <td align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.razonSocialNoDomic" role="presentation" widgetid="factura.razonSocialNoDomic" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="razonSocialNoDomic" type="text" tabindex="-1" id="factura.razonSocialNoDomic" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
		              </tr>
		            </tbody></table>
				</div>
				<div id="factura.razonSocial.show" style="display:none" align="left">
		            <table width="100%">
		              <tbody><tr align="left">
		                <td width="23%" align="left">Razón Social </td>
		                <td width="1%">:</td>
		                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.exportacion.razonSocial" role="presentation" widgetid="factura.exportacion.razonSocial" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="exportacionRazonSocial" type="text" tabindex="-1" id="factura.exportacion.razonSocial" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
		              </tr>
		            </tbody></table>
				</div>
	            <table width="100%">
	              <tbody><tr align="left">
	                <td width="23%" align="left">Tipo Moneda </td>
	                <td width="1%">:</td>
	                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.tipoMonedaDesc" role="presentation" widgetid="factura.tipoMonedaDesc" style="font-size: 13px; width: 150px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="tipoMonedaDesc" type="text" tabindex="-1" id="factura.tipoMonedaDesc" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
	              </tr>
	            </tbody></table>
            
            </td>
            <td valign="bottom">
				<div id="factura.situacionEspecial.show" style="display:none">
					<table width="100%">
		              <tbody><tr>
		                <td>Situaciones Especiales: </td>
		              </tr>
		              <tr>
		                <td><table width="100%">
		                  <tbody><tr align="right">
		                    <td>Operaciones Gratuitas</td>
		                    <td><div class="dijit dijitReset dijitInline dijitCheckBox dijitCheckBoxDisabled dijitDisabled" role="presentation" widgetid="factura.chkOperGratuitas"><input name="chkOperGratuitas" type="checkbox" role="checkbox" aria-checked="false" class="dijitReset dijitCheckBoxInput" data-dojo-attach-point="focusNode" data-dojo-attach-event="ondijitclick:_onClick" value="on" tabindex="-1" id="factura.chkOperGratuitas" disabled="" aria-disabled="true" style="user-select: none;"></div></td>
		                    <td>Exportación</td>
		                    <td><div class="dijit dijitReset dijitInline dijitCheckBox dijitCheckBoxDisabled dijitDisabled" role="presentation" widgetid="factura.chkExportacion"><input name="chkExportacion" type="checkbox" role="checkbox" aria-checked="false" class="dijitReset dijitCheckBoxInput" data-dojo-attach-point="focusNode" data-dojo-attach-event="ondijitclick:_onClick" value="on" tabindex="-1" id="factura.chkExportacion" disabled="" aria-disabled="true" style="user-select: none;"></div></td>
		                  </tr>
		                </tbody></table></td>
		              </tr>
		            </tbody></table>
				</div>
				<table width="100%">
	              <tbody><tr align="right">
	                <td>Fecha de Vencimiento </td>
	                <td>:</td>
	                <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitComboBox dijitDateTextBox dijitValidationTextBox" id="widget_factura.fechaVencimiento" role="combobox" aria-haspopup="true" data-dojo-attach-point="_popupStateNode" widgetid="factura.fechaVencimiento" style="font-size: 13px; width: 100px;"><div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="button presentation" aria-hidden="true"></div><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" type="text" autocomplete="off" data-dojo-attach-point="textbox,focusNode" role="textbox" tabindex="0" id="factura.fechaVencimiento" maxlength="10" value="" aria-invalid="false"><input type="hidden" name="fechaVencimiento" value=""></div></div></td>	 
	              </tr>
	            </tbody></table>
	              <table width="100%">
	              <tbody><tr align="right">
	                <td>Fecha de Emisión </td>
	                <td>:</td>	                
	                <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitComboBox dijitDateTextBox dijitValidationTextBox" id="widget_factura.fechaEmision" role="combobox" aria-haspopup="true" data-dojo-attach-point="_popupStateNode" widgetid="factura.fechaEmision" style="font-size: 13px; width: 100px;"><div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="button presentation" aria-hidden="true"></div><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" type="text" autocomplete="off" data-dojo-attach-point="textbox,focusNode" role="textbox" tabindex="0" id="factura.fechaEmision" maxlength="10" value="24/06/2019" aria-invalid="false"><input type="hidden" name="fechaEmision" value="2019-06-24"></div></div></td>

	              </tr>
	            </tbody></table>
            </td>
          </tr>
          <tr>
              <td colspan="2">
          
          		<div dojotype="dijit.layout.ContentPane" id="factura.registroRECPO.show" style="display: none;" align="left" class="dijitContentPane form-table-2" widgetid="factura.registroRECPO.show">
		            <table width="100%">
		              <tbody><tr align="left">
		                <td align="left" colspan="3"> <b> Registro Especial de Comercializadores y Procesadores de Oro </b>
		                    <span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.bntrecpo"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.bntrecpo_label" tabindex="0" id="factura.bntrecpo" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-category" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.bntrecpo_label" data-dojo-attach-point="containerNode">Cambiar RECPO</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span>
		                 </td>
		                    
		            	 <td rowspan="2" align="left">
							<div dojotype="dijit.layout.ContentPane" id="listadoCPDisp" style="width: 400px; height: 120px; position: relative; text-align: left; display: none;" class="dijitContentPane dijitContentPaneSingleChild" widgetid="listadoCPDisp">
									<div hidefocus="hidefocus" role="grid" dojoattachevent="onmouseout:_mouseOut" tabindex="0" aria-multiselectable="true" class="dojoxGrid form-table-2" id="comprobantesDisp-grid" align="left" widgetid="comprobantesDisp-grid" aria-readonly="true" style="width: 100%; height: 100%; user-select: none;">
	<div class="dojoxGridMasterHeader" dojoattachpoint="viewsHeaderNode" role="presentation"><div class="dojoxGridHeader" dojoattachpoint="headerNode" role="presentation">
		<div dojoattachpoint="headerNodeContainer" style="width:9000em" role="presentation">
			<div dojoattachpoint="headerContentNode" role="row"><table class="dojoxGridRowTable" border="0" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr><th tabindex="-1" aria-readonly="true" role="columnheader" id="comprobantesDisp-gridHdr0" colspan="1" class="dojoxGridCell dojoDndItem " idx="0" style="text-align:left;width:110px;" dndtype="gridColumn_comprobantesDisp-grid"><div class="dojoxGridSortNode">RUC Proveedor</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="comprobantesDisp-gridHdr1" colspan="1" class="dojoxGridCell dojoDndItem " idx="1" style="text-align:left;width:200px;" dndtype="gridColumn_comprobantesDisp-grid"><div class="dojoxGridSortNode">Tipo</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="comprobantesDisp-gridHdr2" colspan="1" class="dojoxGridCell dojoDndItem " idx="2" style="text-align:center;width:110px;" dndtype="gridColumn_comprobantesDisp-grid"><div class="dojoxGridSortNode">Serie</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="comprobantesDisp-gridHdr3" colspan="1" class="dojoxGridCell dojoDndItem " idx="3" style="text-align:center;width:110px;" dndtype="gridColumn_comprobantesDisp-grid"><div class="dojoxGridSortNode">Número</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="comprobantesDisp-gridHdr4" colspan="1" class="dojoxGridCell dojoDndItem " idx="4" style="text-align:center;width:200px;" dndtype="gridColumn_comprobantesDisp-grid"><div class="dojoxGridSortNode">Código Unico de Concesion Minera</div></th></tr></tbody></table></div>
		</div>
	</div></div>
	<div class="dojoxGridMasterView" dojoattachpoint="viewsNode" role="presentation"><div class="dojoxGridView" role="presentation" id="dojox_grid__View_15" widgetid="dojox_grid__View_15">
	
	<input type="checkbox" class="dojoxGridHiddenFocus" dojoattachpoint="hiddenFocusNode" role="presentation">
	<input type="checkbox" class="dojoxGridHiddenFocus" role="presentation">
	<div class="dojoxGridScrollbox" dojoattachpoint="scrollboxNode" role="presentation">
		<div class="dojoxGridContent" dojoattachpoint="contentNode" hidefocus="hidefocus" role="presentation" style="height: 1px;"></div>
	</div>
</div></div>
	<div class="dojoxGridMasterMessages" style="display: none;" dojoattachpoint="messagesNode"></div>
	<span dojoattachpoint="lastFocusNode" tabindex="0"></span>
</div>
							</div>	
							<div dojotype="dijit.layout.ContentPane" id="listadoCCDisp" style="width: 400px; height: 120px; position: relative; text-align: left; display: none;" class="dijitContentPane dijitContentPaneSingleChild" widgetid="listadoCCDisp">
									<div hidefocus="hidefocus" role="grid" dojoattachevent="onmouseout:_mouseOut" tabindex="0" aria-multiselectable="true" class="dojoxGrid form-table-2" id="codigosConcesionDisp-grid" align="left" widgetid="codigosConcesionDisp-grid" aria-readonly="true" style="width: 100%; height: 100%; user-select: none;">
	<div class="dojoxGridMasterHeader" dojoattachpoint="viewsHeaderNode" role="presentation"><div class="dojoxGridHeader" dojoattachpoint="headerNode" role="presentation">
		<div dojoattachpoint="headerNodeContainer" style="width:9000em" role="presentation">
			<div dojoattachpoint="headerContentNode" role="row"><table class="dojoxGridRowTable" border="0" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr><th tabindex="-1" aria-readonly="true" role="columnheader" id="codigosConcesionDisp-gridHdr0" colspan="1" class="dojoxGridCell dojoDndItem " idx="0" style="text-align:left;width:200px;" dndtype="gridColumn_codigosConcesionDisp-grid"><div class="dojoxGridSortNode">Código Unico de Concesión Minera</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="codigosConcesionDisp-gridHdr1" colspan="1" class="dojoxGridCell dojoDndItem " idx="1" style="text-align:left;width:200px;" dndtype="gridColumn_codigosConcesionDisp-grid"><div class="dojoxGridSortNode">Tipo de actividades de extracción del Mineral</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="codigosConcesionDisp-gridHdr2" colspan="1" class="dojoxGridCell dojoDndItem " idx="2" style="text-align:center;width:110px;" dndtype="gridColumn_codigosConcesionDisp-grid"><div class="dojoxGridSortNode">tipo</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="codigosConcesionDisp-gridHdr3" colspan="1" class="dojoxGridCell dojoDndItem " idx="3" style="text-align:center;width:110px;" dndtype="gridColumn_codigosConcesionDisp-grid"><div class="dojoxGridSortNode">Número</div></th></tr></tbody></table></div>
		</div>
	</div></div>
	<div class="dojoxGridMasterView" dojoattachpoint="viewsNode" role="presentation"><div class="dojoxGridView" role="presentation" id="dojox_grid__View_17" widgetid="dojox_grid__View_17">
	
	<input type="checkbox" class="dojoxGridHiddenFocus" dojoattachpoint="hiddenFocusNode" role="presentation">
	<input type="checkbox" class="dojoxGridHiddenFocus" role="presentation">
	<div class="dojoxGridScrollbox" dojoattachpoint="scrollboxNode" role="presentation">
		<div class="dojoxGridContent" dojoattachpoint="contentNode" hidefocus="hidefocus" role="presentation" style="height: 1px;"></div>
	</div>
</div></div>
	<div class="dojoxGridMasterMessages" style="display: none;" dojoattachpoint="messagesNode"></div>
	<span dojoattachpoint="lastFocusNode" tabindex="0"></span>
</div>
							</div>						
						</td>
		              </tr>
		              <tr>
		              	<td>
           		            <table width="100%" class="form-table-2">
           		            	  <tbody><tr align="left">
					                <td width="23%" align="left">RECPO</td>
					                <td width="1%">:</td>
					                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.recpo.recpo" role="presentation" widgetid="factura.recpo.recpo" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="recpo" type="text" tabindex="-1" id="factura.recpo.recpo" maxlength="20" disabled="" aria-disabled="true" value=""></div></div></td>
					              </tr>		              
					              <tr align="left">
					                <td width="23%" align="left">Tipo de condición declarada en el RECPO</td>
					                <td width="1%">:</td>
					                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.recpo.condicion" role="presentation" widgetid="factura.recpo.condicion" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="condicion" type="text" tabindex="-1" id="factura.recpo.condicion" maxlength="20" disabled="" aria-disabled="true" value=""></div></div></td>
					              </tr>
					              <tr align="left">
					                <td width="23%" align="left">Tipo de Operación</td>
					                <td width="1%">:</td>
					                <td width="76%" align="left"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitTextBoxDisabled dijitDisabled" id="widget_factura.recpo.operacion" role="presentation" widgetid="factura.recpo.operacion" style="font-size: 13px; width: 330px;"><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" name="operacion" type="text" tabindex="-1" id="factura.recpo.operacion" maxlength="100" disabled="" aria-disabled="true" value=""></div></div></td>
					              </tr>	
           		            </tbody></table>
           		        </td>
		              </tr>
	              
		            </tbody></table>
				</div>	
				</td>

				
          </tr>
        </tbody></table>
          <table width="100%" class="form-table-2">
            <tbody><tr align="right">
              <td>
					<table cellspacing="0" align="right">
						<tbody><tr>
							<td>&nbsp;</td>
							<td><a href="#" id="factura.addItemButtonToolTip"><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.addItemButton"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.addItemButton_label" tabindex="0" id="factura.addItemButton" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-add" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.addItemButton_label" data-dojo-attach-point="containerNode">Adicionar</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></a></td>
							<td></td>
							<td><img class="icon-by-edit16" src="/a/imagenes/s.gif">Editar</td>
							<td></td>
							<td><img class="icon-by-del16" src="/a/imagenes/s.gif">Eliminar</td>
						</tr>
					</tbody></table>
									
			  </td>
            </tr>
            <tr>
              <td>	  
		 <div dojotype="dijit.layout.ContentPane" id="listadoItems" style="width: 100%; height: 130px; position: relative; text-align: left;" class="dijitContentPane dijitContentPaneSingleChild" widgetid="listadoItems">
				<div hidefocus="hidefocus" role="grid" dojoattachevent="onmouseout:_mouseOut" tabindex="0" aria-multiselectable="true" class="dojoxGrid" id="factura.ingreso-grid" align="left" widgetid="factura.ingreso-grid" aria-readonly="true" style="width: 884px; height: 130px; user-select: none;" aria-activedescendant="factura.ingreso-gridHdr2">
	<div class="dojoxGridMasterHeader" dojoattachpoint="viewsHeaderNode" role="presentation" style="display: block; height: 27px;"><div class="dojoxGridHeader" dojoattachpoint="headerNode" role="presentation" style="width: 883px; left: 1px; top: 0px;">
		<div dojoattachpoint="headerNodeContainer" style="width:9000em" role="presentation">
			<div dojoattachpoint="headerContentNode" role="row"><table class="dojoxGridRowTable" border="0" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr0" colspan="1" class="dojoxGridCell dojoDndItem" idx="0" style="text-align:center;width:20px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">-</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr1" colspan="1" class="dojoxGridCell dojoDndItem " idx="1" style="text-align:center;width:20px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">-</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr2" colspan="1" class="dojoxGridCell dojoDndItem" idx="2" style="text-align:center;width:70px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Bien/Servicio</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr3" colspan="1" class="dojoxGridCell dojoDndItem" idx="3" style="text-align:center;width:110px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Gravado/Exonerado/Inafecto</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr4" colspan="1" class="dojoxGridCell dojoDndItem" idx="4" style="text-align:center;width:90px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Unidad Medida</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr5" colspan="1" class="dojoxGridCell dojoDndItem" idx="5" style="text-align:center;width:60px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Cantidad</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr6" colspan="1" class="dojoxGridCell dojoDndItem" idx="6" style="text-align:center;width:60px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Código</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr7" colspan="1" class="dojoxGridCell dojoDndItem" idx="7" style="text-align:left;width:320px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Descripción</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr8" colspan="1" class="dojoxGridCell dojoDndItem " idx="8" style="text-align:right;width:100px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">-</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr9" colspan="1" class="dojoxGridCell dojoDndItem " idx="9" style="text-align:right;width:130px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Valor Unitario</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr10" colspan="1" class="dojoxGridCell dojoDndItem " idx="10" style="text-align:right;width:100px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Descuento</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="tablaIngreso.labelIgvPorcentaje" colspan="1" class="dojoxGridCell dojoDndItem " idx="11" style="text-align:right;width:100px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">IGV (18.0%)</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr12" colspan="1" class="dojoxGridCell dojoDndItem " idx="12" style="text-align:right;display:none;width:0px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">tipoBonificacion</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr13" colspan="1" class="dojoxGridCell dojoDndItem " idx="13" style="text-align:right;width:100px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">ISC</div></th><th tabindex="-1" aria-readonly="true" role="columnheader" id="factura.ingreso-gridHdr14" colspan="1" class="dojoxGridCell dojoDndItem " idx="14" style="text-align:right;width:150px;" dndtype="gridColumn_factura.ingreso-grid"><div class="dojoxGridSortNode">Importe de Venta</div></th></tr></tbody></table></div>
		</div>
	</div></div>
	<div class="dojoxGridMasterView" dojoattachpoint="viewsNode" role="presentation"><div class="dojoxGridView" role="presentation" id="dojox_grid__View_19" widgetid="dojox_grid__View_19" style="width: 883px; height: 103px; left: 1px; top: 0px;">
	
	<input type="checkbox" class="dojoxGridHiddenFocus" dojoattachpoint="hiddenFocusNode" role="presentation">
	<input type="checkbox" class="dojoxGridHiddenFocus" role="presentation">
	<div class="dojoxGridScrollbox" dojoattachpoint="scrollboxNode" role="presentation" style="height: 103px;">
		<div class="dojoxGridContent" dojoattachpoint="contentNode" hidefocus="hidefocus" role="presentation" style="height: 1px; width: 1542px;"></div>
	</div>
</div></div>
	<div class="dojoxGridMasterMessages" style="display: none;" dojoattachpoint="messagesNode"></div>
	<span dojoattachpoint="lastFocusNode" tabindex="0"></span>
</div>
		</div>			  
			  
			  </td>
            </tr>
          </tbody></table>
          <table width="100%" class="form-table-2">
            <tbody><tr align="center" valign="middle">
              <td><table width="100%">
                <tbody><tr>
                  <td width="34%"><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.botonBackDocumento"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.botonBackDocumento_label" tabindex="0" id="factura.botonBackDocumento" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-back" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.botonBackDocumento_label" data-dojo-attach-point="containerNode">Retroceder</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></td>
				  <td width="2%">&nbsp;</td>
                  <td width="32%"><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="factura.botonGrabarDocumento"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="factura.botonGrabarDocumento_label" tabindex="0" id="factura.botonGrabarDocumento" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-continue" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="factura.botonGrabarDocumento_label" data-dojo-attach-point="containerNode">Continuar</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></td>
				  <td width="2%">&nbsp;</td>
                  <td width="30%"><span class="dijit dijitReset dijitInline dijitButton" role="presentation" widgetid="dijit_form_Button_0"><span class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="dijit_form_Button_0_label" tabindex="0" id="dijit_form_Button_0" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon icon-by-close" data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText" id="dijit_form_Button_0_label" data-dojo-attach-point="containerNode">Cancelar</span></span></span><input type="button" value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation" data-dojo-attach-point="valueNode"></span></td>
                </tr>
              </tbody></table></td>
              <td><table width="100%">
                <tbody><tr align="right">
                  <td width="60%">Sub Total Ventas </td>
                  <td width="2%">:</td>
                  <td width="38%" align="right"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.subTotalVenta" role="presentation" widgetid="factura.subTotalVenta" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.subTotalVenta" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr> 
                <tr align="right">
                  <td>Anticipos</td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalAnticipos" role="presentation" widgetid="factura.totalAnticipos" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalAnticipos" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td>Descuentos</td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalDescuentos" role="presentation" widgetid="factura.totalDescuentos" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalDescuentos" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td width="60%">Valor de Venta </td>
                  <td width="2%">:</td>
                  <td width="38%"><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalValorVenta" role="presentation" widgetid="factura.totalValorVenta" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalValorVenta" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>                
                <tr align="right">
                  <td>ISC</td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalISC" role="presentation" widgetid="factura.totalISC" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalISC" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td>IGV</td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalIGV" role="presentation" widgetid="factura.totalIGV" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalIGV" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td>Otros Cargos </td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalOtrosCargos" role="presentation" widgetid="factura.totalOtrosCargos" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalOtrosCargos" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td>Otros Tributos </td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalOtrosTributos" role="presentation" widgetid="factura.totalOtrosTributos" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalOtrosTributos" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
                <tr align="right">
                  <td>Importe Total </td>
                  <td>:</td>
                  <td><div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitNumberTextBox dijitValidationTextBox dijitTextBoxDisabled dijitNumberTextBoxDisabled dijitValidationTextBoxDisabled dijitDisabled" id="widget_factura.totalGeneral" role="presentation" widgetid="factura.totalGeneral" style="width: 180px; text-align: right;"><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="-1" id="factura.totalGeneral" disabled="" aria-disabled="true" value="" aria-invalid="false"><input type="hidden" disabled="" value=""></div></div></td>
                </tr>
              </tbody></table></td>
            </tr>
          </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>