<md-dialog aria-label="a">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> Venta
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
       <div class="md-dialog-content">
       		<div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Cantidad</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Unidad de medida</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Codigo</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
        
            
       		</div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Descripcion</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
        
          </div>
           <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>Valor Unitario</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Descuento</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>ISC</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
        
          
          </div>
           <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
                <label>IGV</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Importe Total de La venta</label>
                <input ng-model="form.obj.razon_social" name="razon_social" md-maxlength="60" md-autofocus>
                <div ng-messages="myform.codigourl.$error" role="alert" multiple>
                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
                </div>
            </md-input-container>
        
          
          </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()" 
       ng-disabled="!myform.$valid">
        <any ng-if="!form.obj.id">Registrar</any>
        <any ng-if="form.obj.id">Actualizar</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>