<div class="md-padding">
	<input placeholder="Buscar..." 
	type="text" style="padding: 6px; font-size: 16px; color: rgb(102, 102, 102);" 
	name="search_text" 
	ng-model="ctrl.search" maxlength="50" autofocus="" 
	ng-keyup="ctrl.listar(ctrl.search)"/>
	<br><br>
	<table width="100%">
	  <tbody><tr align="center">
	    <td><table width="900px" height="450px" class="form-table-2">
	      <tbody><tr>
	        <td><table width="100%" class="form-table-2">
	          <tbody><tr>
	            <td>
					<div id="factura.ruc.show" style="">
						<table width="100%">
			              <tbody>
			              	<div class="md-dialog-content">
			              		
						       	<td>
						          <div class="md-padding" layout-gt-xs="row">
										<div flex-gt-xs="30" flex>
											<div layout="row" flex>
												<md-input-container class="md-block" flex>
										            <label>Numero de Documento</label>
										            <input ng-model="ctrl.dni" required minlength="8" maxlength="8">
										        </md-input-container>
										        <span><md-button type="submit" class="md-raised md-primary" ng-click="ctrl.consultar(ctrl.dni)" ng-disabled="!ctrl.dni">CONSULTAR</md-button></span>
										    </div>
										</div>
										<div flex-gt-xs="70" flex>
											<table>
												<tr>
													<th>Nombres:</th>
													<td width="150">{{ctrl.obj.razon_social}}</td>
												</tr>
												<tr>
													<th>Telefono:</th>
													<td>{{ctrl.obj.distrito}}</td>
												</tr>
												<tr>
													<th>Dni o Ruc:</th>
													<td>{{ctrl.obj.provincia}}</td>
												</tr>
												<tr>
													<th>Departamento:</th>
													<td>{{ctrl.obj.departamento}}</td>
												</tr>
											</table>
										</div>
									</div>
						       </div>
						   </td>
						   <td>
						       		<div layout-gt-xs="row">
						    
								     <md-input-container class="md-block" flex>
						                <label>Fecha de Vencimiento</label>
						                <md-datepicker ng-model="form.obj.abreviatura" required name="abreviatura" md-maxlength="20"></md-datepicker>
						                <div ng-messages="myform.abreviatura.$error" role="alert" multiple>
						                  <div ng-message="required">Este campo es requerido</div>
						                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
						                </div>
						              </md-input-container>

						             <md-input-container class="md-block" flex>
						                <label>Fecha de Emision</label>
						                <md-datepicker ng-model="form.obj.f_emision" required name="abreviatura" md-maxlength="20"></md-datepicker>
						                <div ng-messages="myform.abreviatura.$error" role="alert" multiple>
						                  <div ng-message="required">Este campo es requerido</div>
						                  <div ng-message="md-maxlength">Supera el máximo de caracteres</div>
						                </div>

						            </md-input-container>
						            
						       		</div>
						       	</td>
	            </td>
	          </tr>
	        </tbody></table>
	          <table width="100%" class="form-table-2">
	            <tbody><tr align="right">
	              <td>
						<table cellspacing="0" align="right">
							<tbody><tr>
								<td>&nbsp;</td>
								<td>
									<md-button class="md-icon-button md-raised md-primary" aria-label="a" ng-click="ctrl.new_edit($event,'');">
								       <ng-md-icon icon='add'></ng-md-icon>
								    </md-button>
							    </td>
								<td></td>
								<td><a class="pqm-link" ng-click="ctrl.new_edit($event, p);">Editar</a></td>
								<td><a class="pqm-link" ng-click="ctrl.delete($event, p);">Eliminar</a></td>
							</tr>
						</tbody></table>
										
				  </td>
	            </tr>

	            <tr>
	            	<td>
	            	<table width="100%" style="font-size: 13px;">
						<tr>
							<th>#</th>
							<th>Tipo de grupo</th>
							<th>Nombre</th>
							<th>Abreviatura</th>
							<th>Fecha de creación</th>
						</tr>
						<tr ng-repeat="p in ctrl.listado">
							<td align="center">{{$index+1}}</td>
							<td>{{p.tipo_grupo_nombre}}</td>
							<td>{{p.nombre}}</td>
							<td>{{p.abreviatura}}</td>
							<td>{{p.fecha_creacion|date:'dd/MM/yyyy'}}</td>
						</tr>
					</table>
				</td>
	</div>
			</div>			  
				  
				  </td>
	            </tr>
	            <tr>
	            	<td>
	            		
	            	</td>
	            </tr>
	            <br><br>
	          </tbody></table>

	          <table width="100%" class="form-table-2">
	            <tbody><tr align="center" valign="middle">
	              <td><table width="100%">
	                <tbody><tr>
	                  <td width="34%">
	                  	<md-dialog-actions layout="row">
					      <span flex></span>
					      <md-button class="md-raised" ng-click="form.cancel()">
					       Cancelar
					      </md-button>
					      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()" 
					       ng-disabled="!myform.$valid">
					        <any ng-if="!form.obj.id">Registrar</any>
					        <any ng-if="form.obj.id">Actualizar</any>
					      </md-button>
					    </md-dialog-actions>
	                  </td>
	                </tr>
	              </tbody></table></td>
	              <td><table width="100%">
	                <tbody>
	                 <tr align="right">
                       <tr>
													<td>Sub Total de Ventas:</td>
													<td width="150">{{ctrl.obj.razon_social}}</td>
												</tr>
												<tr>
													<td>Anticipios:</td>
													<td>{{ctrl.obj.distrito}}</td>
												</tr>
												<tr>
													<td>Descuentos:</td>
													<td>{{ctrl.obj.provincia}}</td>
												</tr>
												<tr>
													<td>Valor de Venta:</td>
													<td>{{ctrl.obj.departamento}}</td>
												</tr>
												<tr>
													<td>ICS:</td>
													<td>{{ctrl.obj.departamento}}</td>
												</tr>
												<tr>
													<td>IGV:</td>
													<td>{{ctrl.obj.departamento}}</td>
												</tr>
												<tr>
													<td>Importe Total:</td>
													<td>{{ctrl.obj.departamento}}</td>
												</tr>
											
	                  	
	                </tr>
	              </tbody></table></td>
	            </tr>
	          </tbody></table></td>
	      </tr>
	    </tbody></table></td>
	  </tr>
	</tbody></table>
	<br>
	
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>