<div class="md-padding">
	<input placeholder="Buscar..." 
	type="text" style="padding: 6px; font-size: 16px; color: rgb(102, 102, 102);" 
	name="search_text" 
	ng-model="ctrl.search" maxlength="50" autofocus="" 
	ng-keyup="ctrl.listar(ctrl.search)"/>
	<br><br>
	<md-button class="md-icon-button md-raised md-primary" aria-label="a" ng-click="ctrl.new_edit($event,'');">
       <ng-md-icon icon='add'></ng-md-icon>
    </md-button>

	<table width="100%" style="font-size: 13px;">
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Usuario</th>
			<th>Apellidos</th>
			<th>Fecha de creación</th>
			<th colspan="2">Options</th>
		</tr>
		<tr ng-repeat="p in ctrl.listado">
			<td align="center">{{$index+1}}</td>
			<td>{{p.nombre}}</td>
			<td>{{p.usuario}}</td>
			<td>{{p.apellidos}}</td>
			<td>{{p.fecha_creacion|date:'dd/MM/yyyy'}}</td>
			<td><a class="pqm-link" ng-click="ctrl.new_edit($event, p);">Editar</a></td>
			<td><a class="pqm-link" ng-click="ctrl.delete($event, p);">Eliminar</a></td>
		</tr>
	</table>
	<br>
	
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>